* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a {
  color:rgb(79, 122, 232);
  text-decoration: none;
  margin:2em 3em;
  font-size: 1.2em;
}

body {
  background-color: antiquewhite;
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2 {
  text-align:center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin:.5em;
}

h2 {
  font-size:1.5em;
}